<!-- Saaran tekemä header + side menu alkaa tästä -->
<!-- <div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header> -->
<!-- Saaran tekemä header + side menu loppuu tähän -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content class="ion-text-center">
  <div class="container">
    <div class="text-container">
      <h1><b>Oops...</b></h1>
      <p>Hang in there! This page is under construction.</p><br>
    </div>
    <img src="\assets\images\404_image.png" alt="My Image">
  </div>
</ion-content>
