<!-- header + side menu alkaa tästä -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end" >
      <img src="assets\icon\gymlogo_small.png" id="toolbarLogoSmall">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- header + side menu loppuu tähän -->

<ion-content>
<div class="ion-padding"><h1>Gym & Equipments</h1>
  <p>FitFlow Studio offers a wide variety of gym equipment  and can cater to 
    different fitness goals and preferences. Check out all of our equipment below! </p><br>
    <h3>Cardio</h3></div>

  <div class="card-tips">
    <ion-card>
      <ion-img src="assets/images/gym-cardio-01.png"></ion-img>
      <ion-card-content>
        <strong>Stair Steppers</strong>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/images/gym-cardio-02.png"></ion-img>
      <ion-card-content>
        <strong>Treadmills</strong>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/images/gym-cardio-03.png"></ion-img>
      <ion-card-content>
        <strong>Exercise Bikes</strong>
      </ion-card-content>
    </ion-card>
  </div>
  
     <div class="ion-padding">
      <h3>Strength Training</h3></div>
     <div class="card-tips">
    <ion-card>
      <ion-img src="assets/images/gym-streght-01.png"></ion-img>
      <ion-card-content>
       <strong>Dumbbells</strong> 
      </ion-card-content>
    </ion-card>
  

    <ion-card>
      <ion-img src="assets/images/gym-streght-02.png"></ion-img>
      <ion-card-content>
        <strong>Barbells</strong>
      </ion-card-content>
    </ion-card>
    <br><br>
  </div>
</ion-content>