
<!-- header + side menu alkaa tästä -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end" >
      <img src="assets\icon\gymlogo_small.png" id="toolbarLogoSmall">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- header + side menu loppuu tähän -->

<ion-content>
  <div class="title-div">
    <ion-card class="title-card" style="background-image: url('../../assets/images/about-bg-cropped-1.png');">
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>We are a gym dedicated to making<br>you feel better!</ion-card-content>
    </ion-card>
  </div>

  <div class="hr"></div>

  <div class="info-div">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>We have many different instructed classes, like yoga, bodycombat, and others!</p>
          <p id="linkToClasses" (click)="navToClasses()">READ MORE</p>
        </ion-col>
        <ion-col>
          <ion-img src="../../assets/images/about-yoga-1.png" alt="People doing yoga"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="hr"></div>

  <div class="contact-div">
    <h1 id="contact-title">Contact info</h1>
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>
              Address
              <p>Feikkikatu 2, 01300 Vantaa</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="timer-outline" slot="start"></ion-icon>
            <ion-label>
              Opening hours
              <p>06:00 - 23:00</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="call-outline" slot="start"></ion-icon>
            <ion-label>
              Phone number
              <p>09123123</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label>
              Email
              <p>fitflow@fitflow.fi</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="hr"></div>

  <div class="map-container" #map>
  <!-- <ion-img id="map-image" src="../../assets/images/map-cropped-1.png" alt="A map of Tikkurila"></ion-img> -->
  </div>

  <div class="hr"></div>
  <form [formGroup]="form">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Message us</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input label="Name" type="text" formControlName="name" label-placement="floating"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input label="Email" type="email" formControlName="email" label-placement="floating" errorText="Please provide a valid email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea label="Message" type="text" formControlName="message" label-placement="floating" [autoGrow] = "true"></ion-textarea>
        </ion-item>
        <ion-button class="btn-cntr" id="message-btn" [disabled]="!form.valid" (click)="onSubmit()">Submit</ion-button>
        <ion-alert
          trigger="message-btn"
          header="Thank you!"
          subHeader="Message received"
          message="We will come back to you as soon as possible."
          [buttons]="alertButtons"
        ></ion-alert>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>

