.title-card {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    padding-top: 25px;
    box-shadow: none;
}

.title-div {
    height: 450px;
    padding-bottom: 12px;
    margin: 0;
}

.hr {
    border-bottom: 1px solid gainsboro;
    margin: 10px 100px 10px 20px;
    width: 90%;
}

#contact-title {
    padding-left: 18px;
}

#map-image {
    padding: 8px 20px 20px 20px;
    width: 100%;
}

.map-container {
    height: 350px;
}

.btn-cntr {
    margin-top: 25px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}