   <!-- header + side menu alkaa tästä -->
   <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
      <ion-buttons slot="end" >
        <img src="assets\icon\gymlogo_small.png" id="toolbarLogoSmall">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- header + side menu loppuu tähän -->
<ion-content>
  <ion-header class="ion-padding-start">
    <h1>Health tips</h1>
  </ion-header>

  <div class="card-tips">
    <ion-card>
      <ion-img src="assets/images/exercisetips.png"></ion-img>
      <ion-card-content>
        Exercise
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/images/nutritiontips.png"></ion-img>
      <ion-card-content>
        Nutrition
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-img src="assets/images/sleeptips.png" (click)="navToSleep()"></ion-img>
      <ion-card-content>
        Sleep
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="assets/images/meditationtips.png"></ion-img>
      <ion-card-content>
        Meditation
      </ion-card-content>
    </ion-card>
  </div>

  <p class="ion-padding">We understand that maintaining a healthy lifestyle can be a challenge, 
    especially in today's fast-paced world. That's why we have put together a collection of health tips 
    that cover four important areas of well-being: exercise, nutrition, sleep, and meditation. 

    <br><br>Each section is packed with valuable information and practical advice 
    that you can use to improve your overall health and well-being. 
    Whether you are a beginner or an experienced health enthusiast, you will find something here that can help you achieve your goals.
  </p>
</ion-content>