<ion-content>
    <!-- header + side menu alkaa tästä -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end" >
      <img src="assets\icon\gymlogo_small.png" id="toolbarLogoSmall">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- header + side menu loppuu tähän -->
  <ion-header class="ion-padding-start">
    <h1>Amenities</h1>
  </ion-header>

  <ion-card>
    <ion-card-content class="flex-amenities">
      <ion-icon name="happy-outline" size="large"></ion-icon>
      Childcare services</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="flex-amenities">
      <ion-icon name="grid-outline" size="large"></ion-icon>
      Equipment rental</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="flex-amenities">
      <ion-icon name="cash-outline" size="large"></ion-icon>
      Kiosk</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="flex-amenities">
      <ion-icon name="speedometer-outline" size="large"></ion-icon>
      Saunas</ion-card-content>
  </ion-card>

  <p class="ion-padding">We at FitFlow Studio are excited to offer our members a wide range of amenities to enhance their fitness experience. 
    Whether you're a seasoned gym-goer or a beginner, our facilities and services have been designed to cater to all your fitness needs. 
    From childcare services to saunas, kiosks to gym equipment rental, we have everything you need to make your time at our fitness center both enjoyable and productive. 

    <br><br>Our commitment to providing a comprehensive range of amenities sets us apart from other fitness centers, 
    and we take pride in offering a welcoming and supportive environment for all our members. 
    So, take a look at our list of amenities and discover how we can help you reach your fitness goals!
  </p>
</ion-content>