.top-bar {
    padding-bottom: 20px;
}

.flex {
    display: flex;
}

.logo-img {
    width: 40px;
    margin: 0 15px auto auto;
}
h1 {
    font-size: 36px;
    margin-left: 70px;
}

ion-img {
    margin: 0 15px 0 15px;
}
p {
    max-width: 400px;
}

