<ion-content>
  <ion-card-content class="top-bar">
    <div class="flex">
      <ion-back-button defaultHref="/healthtips"></ion-back-button>
      <ion-img class="logo-img" src="assets/icon/gymlogo_small.png"></ion-img>
    </div>  
  </ion-card-content>
  <ion-header class="ion-padding-start">
    <h1>Sleeping tips</h1>
  </ion-header>
  <ion-img src="assets/images/sleeptipsbed.png"></ion-img>

  <p class="ion-padding">1. Stick to a regular sleep schedule: 
    Try to go to bed and wake up at the same time every day, even on weekends. 
    This helps regulate your body's clock and promotes better sleep.
    <br><br>
    2. Create a relaxing bedtime routine: Develop a routine to help you wind down before bed. 
    This could include taking a warm bath or shower, reading a book, practicing relaxation techniques, or listening to calming music.
    <br><br>
    3. Make sure your sleep environment is comfortable: Your bedroom should be cool, dark, and quiet, 
    with a comfortable mattress and pillows. Consider investing in blackout curtains, earplugs, or a white noise machine to create an optimal sleep environment.
    <br><br>
    4. Avoid stimulants before bed: Avoid consuming caffeine or nicotine in the hours leading up to bedtime, 
    as they can interfere with your ability to fall asleep. Additionally, try to limit your intake of alcohol, as it can disrupt sleep quality.
    <br><br>
    5. Limit screen time before bed: The blue light emitted by electronic devices like smartphones and tablets can suppress the production of melatonin, 
    a hormone that helps regulate sleep. To promote better sleep, try to avoid using screens for at least an hour before bedtime, 
    or use a blue light filter on your devices.
  </p>
</ion-content>